# Secrets
.env
*.env
serviceAccountKey.json
.env.production

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
frontend/.next/
frontend/build/


# Logs & maps
*.log
*.map

# OS
.DS_Store
**/.DS_Store

# IDE
.vscode/
frontend/dist/